<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Rapidoc - Action</title>
    <meta name="description" content="Artículo en GenbetaDev sobre Bootstrap 2.0">
    <meta name="author" content="Rafael Jurado González" >
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/rapidoc.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="assets/js/jquery-1.9.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <style>
      body { padding-top: 60px; }
    </style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{info.project_name}}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html">Resources</a></li>
              <li class="active"><a href="#">Action</a></li>
              <li><a target="_blank" href="https://github.com/drinor/rapidoc.git">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="page-header">
        <h1>{{action.resource}}</h1>
      </div>

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#profile">Params</a></li>
        <li><a href="#messages">Petition</a></li>
        <li><a href="#settings">Answer</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active my_tab" id="home">
          <p> 
            {{action.description}}  
          </p>

           <h4 class="pad_top">Resource URL</h4>
           <pre>{{action.urls}}</pre>

          <h4 class="pad_top">Estados</h4>
          <table class="table table-hover">
            {{#each action.http_responses}}
            <tr>
              <td class="routes"><span class="{{this.label}}">{{this.code}}</span></td>
              <td>{{this.description}}</td>
            </tr>
            {{/each}}
          </table>
        </div>

        <div class="tab-pane my_tab" id="profile">
          <table class="table table-hover">
            <tr>
              <td class="routes"><strong>limit</strong></br><span class="small">opcional</span></td>
              <td>Al utilizar este parámetro se aplicará paginación al resultado obtenido.
                Este parámetro define el número de resultados que se muestran en cada página.
                Un valor de 0 devuelve todos los álbumes pertenecientes a esa búsqueda.</td>
            </tr>
            <tr><td>page</td><td>Unauthorized</td></tr>
            <tr><td>order_by</td><td>Not found</td></tr>
          </table>
        </div>

        <div class="tab-pane my_tab" id="messages">
          <pre>Petición</pre>
        </div>

        <div class="tab-pane my_tab" id="settings">
          <pre>
  {
    "album": {
      "_links": {
          "self": "/albums/509778c2421aa90e0b000018",
          "owner": "/users/50977891421aa90e0b000003",
          "images": "/albums/509778c2421aa90e0b000018/images",
          "cover": "/albums/509778c2421aa90e0b000018/images/509778c2421aa90e0b00001d"
      },
      "_id": "509778c2421aa90e0b000018",
      "id": "/albums/509778c2421aa90e0b000018",
      "title": "album #2",
      "description": "fucking album",
      "emotion": "happy",
      "privacy": "family",
      "date": "1465-10-16T16:14:44Z",
      "location": null,
      "views": 1,
    }
  }
          </pre>
        </div>
      </div>

      <script>
        $(function () {
          $('#myTab a:first').tab('show');
        })

        $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })
      </script>
      <footer>
        <p>{{info.company}} {{info.year}}</p>
      </footer>
    </div>
  </body>
</html>
