<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Rapidoc - Action</title>
    <meta name="description" content="Artículo en GenbetaDev sobre Bootstrap 2.0">
    <meta name="author" content="Rafael Jurado González" >
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/rapidoc.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="assets/js/jquery-1.9.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <style>
      body { padding-top: 60px; }
    </style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{info.project_name}}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="index.html">Resources</a></li>
              <li class="active"><a href="#">Action</a></li>
              <li><a target="_blank" href="https://github.com/drinor/rapidoc.git">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="page-header">
        <h1>{{action.resource}}</h1>
      </div>

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#params">Params</a></li>
        <li><a href="#errors">Errors</a></li>
        <li><a href="#messages">Petition</a></li>
        <li><a href="#settings">Answer</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active my_tab" id="home">
          <p>
            {{action.description}}
          </p>
            <table class="table table-hover action-options">
            <tr>
              <td>Action</td><td>{{action.action}}</td>
            </tr>
            <tr>
              <td>Method</td><td>{{action.action_method}}</td>
            </tr>
            <tr>
              <td class="routes">Required authentication</td>
              <td>
                {{#if action.authentication}}
                  <i class="icon-ok"></i>
                {{else}}
                  <i class="icon-remove"></i>
                {{/if}}
              </td>
            </tr>
            <tr>
              <td>Response formats</td><td>{{action.response_formats}}</td>
            </tr>
          </table>


           <h4 class="pad_top">Resource URL</h4>
           <pre>{{action.urls}}</pre>

          <h4 class="pad_top">Response Status</h4>
          <table class="table table-hover">
            {{#each action.http_responses}}
            <tr>
              <td class="routes"><span class="{{this.label}}">{{this.code}}</span></td>
              <td>{{this.description}}</td>
            </tr>
            {{/each}}
          </table>
        </div>

        <div class="tab-pane my_tab" id="params">
          <table class="table table-hover" id="table-params">
            {{#each action.params}}
              <tr>
                <td>
                  <strong>{{this.name}}</strong></br>
                  {{#if this.required}}
                    <span class="small">required</span>
                  {{else}}
                    <span class="small">optional</span>
                  {{/if}}
                </td>
                <td>
                  {{#if this.inclusion}}
                    [ {{this.inclusion}} ]
                  {{else}}
                    {{this.type}}
                  {{/if}}
                </td>
                <td>{{this.description}}</td>
              </tr>
            {{/each}}
          </table>
        </div>

        <div class="tab-pane my_tab" id="errors">
          <table class="table table-hover table-bordered" id="table-errors">
            <tr>
              <th>Object</th>
              <th>Message</th>
              <th>Description</th>
            </tr>
            {{#each action.errors}}
              <tr>
                <td>{{this.object}}</td>
                <td>{{this.message}}</td>
                <td>{{this.description}}</td>
              </tr>
            {{/each}}
          </table>
        </div>

        <div class="tab-pane my_tab" id="messages">
          <pre>Petición</pre>
        </div>

        <div class="tab-pane my_tab" id="settings">
          <pre>Answer</pre>
        </div>
      </div>

      <script>
        $(function () {
          $('#myTab a:first').tab('show');
        })

        $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })
      </script>
      <footer>
        <p>{{info.company}} {{info.year}}</p>
      </footer>
    </div>
  </body>
</html>
